#header {
  /*background-color: #BCF1AA;*/
}
#header-img.default-header,
.thumbnail.nsfw,
.thumbnail.self {
  background-image: url(/media/img/notabug-logo.png);
}
body > .content .link .rank,
.rank-spacer {
  width: 3.3ex;
}
body > .content .link .midcol,
.midcol-spacer {
  width: 6ex;
}
body > .content .chat-listing .link .rank,
.rank-spacer {
  width: auto;
}
body > .content .chat-listing .link .midcol,
.midcol-spacer {
  width: auto;
}

.identicon svg {
  background-color: white;
  vertical-align: middle;
}

.user-hover-info .identicon {
  margin-right: 1em;
}

.dropdown {
  cursor: pointer;
}

.chat-modal {
  position: fixed;
  background-color: #eff7ff;
  border: 1px solid #5f99cf;
  right: 0px;
  bottom: 0px;
  width: 560px;
  height: 380px;
  z-index: 100;
}

.chat-message-display {
  -webkit-overflow-scrolling: touch;
}

.chat-modal .chat-message-display {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 0.5em;
}

.chat-modal {
  bottom: 10px;
  right: 10px;
}

.chat-modal .chat-message-display {
  bottom: 50px;
}

.chat-modal .chat-message-display .midcol {
  float: none;
}

.content .chat-input {
  background-color: white;
  position: fixed;
  left: 0;
  right: 310px;
  bottom: 0;
  margin: 10px;
  z-index: 10000;
}

.chat-modal .chat-modal-controls {
  z-index: 10000;
}

.sidebar-chat .content {
  position: relative;
}

.sidebar-chat .chat-input,
.chat-modal .chat-input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
}

.chat-input input {
  width: 85%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-indent: 0.5em;
  margin: 0 0 0 0;
  border: 1px solid #5f99cf;
}
.chat-input .send-btn {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 13%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #5f99cf;
}

.sidebar-chat .chat-input .send-btn {
  display: none;
}
.sidebar-chat .chat-input input {
  width: 100%;
  border-width: 0 0 0 0;
  border-top: 1px solid gray;
}

.chat-modal .chat-modal-controls {
  position: absolute;
  top: 0px;
  right: 0px;
}

.chat-modal .chat-modal-controls button {
  background-color: #5f99cf;
  color: white;
}

.chat-modal .comment {
  margin: 4px 10px;
}

.infinite-listing {
  background-color: white;
  position: fixed;
  top: 63px;
  padding-top: 7px;
  padding-left: 5px;
  right: 310px;
  left: 0px;
  bottom: 0px;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}

.chat-modal .infinite-listing,
.chat-modal .content {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.sidebar-chat .content {
  padding: 0 0 0 0;
}

.chat-listing {
  bottom: 46px;
}

.side .infinite-listing {
  top: 0;
  bottom: 0;
  padding: 0 0 0 0;
  position: relative;
  height: 220px;
  margin-bottom: 26px;
}

.side .chat-listing {
}

.sidebar-chat .thing .md p {
  margin-top: 0;
}

.sidebar-chat .thing .chat-topic-name,
.sidebar-chat .thing .child,
.sidebar-chat .arrow,
.chat-modal .arrow {
  display: none;
}

.sidebar-chat .comment {
  margin-left: 0;
}

.side .chat-input {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: white;
}

.score.likes {
  color: #ff8b60;
}
.score.dislikes {
  color: #9494ff;
}

.individual-vote-counts .score {
  display: inline-block;
}

.expando img {
  max-width: 100%;
  max-height: 720px;
}

.vote-status-fixed {
  box-shadow: 0px 0px 3px 5px #FF8B60;
  background-color: white;
  z-index: 1000;
  width: 300px;
  position: fixed;
  top: 5px;
  right: 5px;
}

.side .new-wikipage-banner,
.side h1.wikititle,
.side .wikiaction-current {
  display: none;
}
