html {
  background-color: #182028;
  color: #ccd;
}

#header {
  background-color: #283038 !important;
}

a {
  background-color: transparent !important;
  color: #8be !important;
}

body,
.side,
.bottommenu,
.content,
.footer-parent,
#header-bottom-right,
.sitetable,
.md,
#sr-header-area,
#sr-header-area a {
  background-color: #182028 !important;
  color: #dde !important;
}

.submit .morelink {
  border: #678 solid 1px !important;
}

.submit .morelink a {
  background-color: #182028 !important;
}

.content .chat-input {
  background-color: transparent !important;
}

blockquote {
  color: #aaa !important;
}

input,
textarea,
pre,
.roundfield,
.infobar,
.nextprev a {
  background-color: #283038 !important;
  color: #dde !important;
  border: #678 solid 1px !important;
}

code {
  background-color: #283038 !important;
  color: #aaa !important;
  border: none !important;
}

button {
  background-color: #182028 !important;
  color: #8be !important;
  border: solid 1px #678;
  padding: .5em 1em;
}

button:disabled {
  background-color: #283038 !important;
  color: #69c !important;
}

.tabmenu li:not(.selected) a {
  background-color: #485058 !important;
  border: none !important;
}

.selected a {
  color: #f86 !important;
  border: 1px solid #9ab !important;
  border-bottom: 1px solid #182028 !important;
}

a:visited.title {
  color: #678 !important;
}

.thing.stickied .title > a {
  color: #eef !important;
}

#header-img {
  background-color: transparent; !important;
  filter: invert(.8);
}

.drop-choices {
  background-color: #283038 !important;
}

.nub {
  display: none;
}

.identicon {
  filter: invert(1) hue-rotate(180deg) brightness(1.5);
}

.expando-button {
  filter: invert(1) hue-rotate(180deg) brightness(.75);
}
